<!doctype html>
<html>
<head>
<title>Our Funky HTML Page</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>
    <!--Laitetaan ejs/express:in avulla -->
    <%= draw.forEach(func) %><br>
</body>
</html>